
.content {
	padding-top: 60px;
	padding-left: 80px;
	padding-right: 80px;
	font-size: 13px;
}

 h1 {
	color: grey;
	text-align: center;
	height: 70px;
	font-size: 60px;
}

.menu {
    color:#FFF;
    height:2em;
    padding:0;
    position:absolute;
    top:70px;
    width:100%;
}

.fixed {
    position:fixed;
    top:0;
}

.navbar {
	background-color:white;
}

.navbar .navbar-nav {
		display: inline-block;
    float:none;
		vertical-align: top;
		margin-left:35%;
		background-color: white;
		font-size: 20px;
}

ul.navbar-nav a:hover {
	color: #f0e0e0 !important;
}

.navbar-default .navbar-nav>.active a,
.navbar-default .navbar-nav>.active> a:focus,
.navbar-default .navbar-nav>.active> a:hover{
  background: none;
}

h1 {
	color: grey;
}

.inner {
	padding: 55px;
	height: 400px;
}
.contact {
	padding:0px;
	background-color: #f0e0e0;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #1d6087;
  color: white;
