.header-wrapper {
	height: 100px;
}

h1 {
	color: grey;
	text-align: center;
}

ul{
	list-style-type: none;
	margin-left:200px;
	margin-right:200px;
	text-align:center;
}

li {
	float: left;
	width:20%
}

li a{
	
}
